<section ng-controller="LocationModalCtrl">
	<header class="modal-header">
	    <h3 class="modal-title">I'm a modal!</h3>
	</header>
	<div class="modal-body">
	    
	    
	    <div class="form-group">
	    	<div class="row-fluid">
		    	<input type="text" class="form-control span9" placeholder="type your location here..." 
		    		   autofocus ng-model="location.address">
		    	<button type="button" class="btn btn-primary span3" ng-click="searchLocation()">Search</button>
	    	</div>
	    	<div class="row-fluid">
	    		<span class="span9">Latitude: {{location.latitude}}, Longitude: {{location.longitude}}</span>
		    	<button type="button" class="btn btn-primary span3" ng-click="pingToMap()">Ping to map</button>
	    	</div>
	  	</div>
	    
	    
	    abc
	</div>
	<footer class="modal-footer">
	    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
	    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	</footer>
</section>