<section ng-controller="LocationModalCtrl">
	<header class="modal-header">
	    <h3 class="modal-title">I'm a modal!</h3>
	</header>
	<div class="modal-body">
	    
	    
	    <div class="form-group">
	    	<input type="text" class="form-control" id="exampleInputEmail1" placeholder="type your location here..." autofocus>
	    	<button type="button" class="btn btn-primary" ng-click="searchLocation()">Search</button>
	  	</div>
	    
	    
	    abc
	</div>
	<footer class="modal-footer">
	    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
	    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	</footer>
</section>